html{
    min-height: 100%;
    min-width: 420px;
}
body{
    margin: 0;
    background-image: url("../background/background.jpg");
}
header{
    text-align: center;
    overflow: hidden;
    background-color: #000;
    height: 90px;
    margin-bottom: 30px;
    width: 100%;
}
.welcome-header{
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 40px;
}
.form{
    background-color: rgba(0,0,0,0.9);
}
.input-button{
    margin-top: 20px;
    margin-left: 42%;
}
.fileToUpload{
    margin-left: 10%;
}
.rounded{
    width: 50px;
}
.loading{
    width: 80px;
    height: auto;
}
.border{
    background-color: rgba(255,255,255,0.5);
    margin: 5%;
    border: 14px solid rgba(28,110,164,0.71);
    border-radius: 20px 20px 20px 20px;
}
.sorting-image{
    width: 30px;
    height: auto;
}
.step-back{
    cursor: pointer;
    width: 30px;
    height: auto;
}
.step-back:hover {
    width: 30px;
    height: auto;
    background-color: #FFF842;
    color: #403E10;
    font-weight: bold;

    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform: translate3d(6px, -6px, 0);

    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
}

.col{
    position: relative;
    min-width: 300px;
    z-index: 99999;
    width: 100%;
}
main{
    padding: 30px;

}
.table{
    overflow:scroll;
    overflow-x: hidden;
    width: 100%;
    height: 500px;
}
#0{
    color: white;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #2C3446;
    color: white;
    text-align: center;
}
.required{
    color: red;
}
.success{
    font-size: 30px;
    font-weight: 900;
    color: green;
}
.failed{
    font-size: 30px;
    font-weight: 900;
    color: red;
}
.pointer {
    color: greenyellow !important;
    cursor: pointer;
}
.box {
    float: left;
    height: 15px;
    width: 15px;
    margin-bottom: 15px;
    border: 1px solid black;
    clear: both;
}

.red {
    background-color: #FB667A;
}

.green {
    background-color: greenyellow;
}
.legend-title{

    font-weight: bold;
    font-size: large;
}
.legend{
    font-weight: bolder;
    font-size: medium;
}
.none{
    display: none;
}
.pointer_file{
    cursor: pointer;
}
/* unvisited link */
.link:link {
    color: #FB667A;
}

/* visited link */
.link:visited {
    color: #FB667A;
}

/* mouse over link */
.link:hover {
    color: black;
}

/* selected link */
.link:active {
    color: blue;
}
.pointer-directory:hover{
    color: black;
}